# URL de l'API Backend
# En développement, utilisez l'IP de votre machine (ex: http://192.168.1.XX:8000/api/v1)
# En production, utilisez l'URL fournie par Railway (ex: https://votre-app.up.railway.app/api/v1)
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1
